* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
    margin: 0 1rem;
}

ul li a {
    position: relative;
    color: #262626;
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    padding: .5rem 0;
    overflow: hidden
}

ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 5px;
    border-radius: 10px;
    width: 50%;
    background-color: #00BCD4;
    transform-origin: left;
    transform: scaleX(0);
    transition: .3s ease-in-out
}

ul li a:hover::before {
    transform: scaleX(1) translateX(100%);
    color: red
}